/* Root variables */
/* Desktop Css */
:root {
  font-size: 16px;
  --li-size: 1.8rem;
}
/* Default configurations. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* Header */
header nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 20rem;
}
.nav__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__elem {
  font-size: var(--li-size);
  font-family: "Inter", sans-serif;
}
.nav__elem a {
  margin: 0.5rem;
  font-size: 1rem;
}

main {
  margin-top: 8rem;
}
/* Main Section */
main .main-logo img {
  width: 55rem;
}
.items-right {
  display: flex;
  justify-content: flex-end;
}
